<!DOCTYPE html>

<html lang = "en-US">

  <head>

    <!-- CSS Links -->
		<link rel = "stylesheet" type = "text/css" href = "/CSS/generalStyle.css">
    <link rel = "stylesheet" type = "text/css" href = "/CSS/explorerStyle.css">
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">


    <!-- Title page -->
		<title>Ikeo World - Explore !</title>

  </head>


  <body>


    <!-- Top menu -->
    <div class = "topMenu">

      <!-- Buttons to navigate in the website -->
      <button class = "homeButton" onClick = "location.href='/home/'">

          <i class = "material-icons white" style="margin-left: -90px">home</i>
          <span class = "textButton" >Home</span>

      </button>


      <button class = "explorerButton" onClick = "location.href='/explorer/'">

          <i class = "material-icons white" style="margin-left: -90px">public</i>
          <span class = "textButton" >Explorer</span>

      </button>
    </div>

    <!-- Content -->
    <div class = 'content'>
      bonjour
    </div>

    <i class="material-icons">sentiment_satisfied</i>
    bonjour home

    <!-- Footer -->
    <footer>

      <table class = 'tableFooter'>
        <tr>
          <td class = "cellTableFooter" style = 'text-align: left;'>
            <span class = "textTableFooter"> Developed by Mike STX </span>
          </td>

          <td class = "cellTableFooter">
            <a href = "https://github.com/MikeSTX/">
              <i class="zmdi zmdi-github-box" style = 'color: #424242;'></i>
              <span class = "textTableFooter">Github</span>
            </a>
          </td>

          <td class = "cellTableFooter">
            <a href = "https://www.linkedin.com/in/thibault-bruhiere-30145a82?trk=hp-identity-name">
              <i class="zmdi zmdi-linkedin-box" style = 'color: #2979FF;'></i>
              <span class = "textTableFooter">LinkedIn</span>
            </a>
          </td>
        </tr>
      </table>

    </footer>

  </body>



</html>
