<!DOCTYPE html>

<html lang = "en-US">

  <head>

    <!-- CSS Links -->
		<link rel = "stylesheet" type = "text/css" href = "/CSS/generalStyle.css">
    <link rel = "stylesheet" type = "text/css" href = "/CSS/homeStyle.css">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    <!-- Color paletet -->
    <link rel="stylesheet" href = "/CSS/material-design-color-palette.min.css">

    <!-- Title page -->
		<title>Ikeo World - home</title>

  </head>


  <body>


    <!-- Top menu -->
    <div class = "topMenu">

      <!-- Buttons to navigate in the website -->
      <button class = "homeButton" onClick = "location.href='/home/'">

          <i class = "zmdi zmdi-home zmdi-hc-2x mdc-text-white-dark" style="margin-left: -90px;"></i>
          <span class = "textButton" >Home</span>

      </button>


      <button class = "explorerButton" onClick = "location.href='/explorer/'">

          <i class = "zmdi zmdi-globe zmdi-hc-2x mdc-text-white-dark" style="margin-left: -90px;"></i>
          <span class = "textButton" >Explorer</span>

      </button>
    </div>

    <!-- Content -->
    <div class = 'content'>


      <div class = 'divFranckyPresentation'>

        <h2>
          <i class = "zmdi zmdi-mood zmdi-hc-2x mdc-text-teal-700" style="margin-left: 10px;"></i>
          Welcome peoples !
        </h2>

        <p class = 'textFrancky'>
          <b>Let's introduce ourselves, we're the Francky family and it's a pleasure to meet you.<br /><br /></b>
          Has you may know, our life's goal is to explore the world, and recently we discovers a new one which looks wonderful !
          If you feel feel you've the adventurer spirit and when you're ready to discover a new experience, let's explore this new world together ! You just have to guide us.
          <br /><br />
          Oops, I almost forgot... We can only turn 90° left or right and move forward the way we're turned.
          <br /><br/>
        </p>

          <h2 style="text-align: right">
            New world : Ikeo
            <i class = "zmdi zmdi-globe zmdi-hc-2x mdc-text-teal-700" style="margin-left: 10px;"></i>
          </h2>

          <p class = 'textFrancky' style="text-align: right">
            <br />
            The new world is called <b>'Ikeo'</b>, and there's some rules to respect to survive in this wild environment.
            <br />
            First, Ikeo is a rectangular area compose with small box. There's 10 boxs on X axis and 10 boxs on Y axis. We can't go out of these box, otherwise we fall into the void.
            Also, we can't be several Francky on the same box, there're just to small to shelter 2 humans !
            <br /><br />
            Now, you know everything about what's coming ;)
          </p>

          <hr class = 'sep'/>

          <button class = "btnLinkExplore" onClick = "location.href='/explorer/'">
            <i class="zmdi zmdi-flight-takeoff zmdi-hc-3x mdc-text-white-dark" style = 'margin-left: -220px;'></i>
            <span class = "textButtonExplore">Let's explore the world</span>
          </button>

      </div>

      <br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br />

    </div>









    <!-- Footer -->
    <footer>

      <table class = 'tableFooter'>
        <tr>
          <td class = "cellTableFooter">
            <i class="zmdi zmdi-coffee mdc-text-white-dark zmdi-hc-2x"></i>
            <span class = "textTableFooter">Mike STX </span>
          </td>

          <td class = "cellTableFooter">
            <a href = "https://github.com/MikeSTX/">
              <i class="zmdi zmdi-github-alt mdc-text-white-dark zmdi-hc-2x" id = "iconGithub"></i>
            </a>
          </td>

          <td class = "cellTableFooter">
            <a href = "https://www.linkedin.com/in/thibault-bruhiere-30145a82?trk=hp-identity-name">
              <i class="zmdi zmdi-linkedin mdc-text-white-dark zmdi-hc-2x" id = "iconGithub"></i>
            </a>
          </td>
        </tr>
      </table>

    </footer>

  </body>



</html>
