/* General CSS Style
    > For commun style for "home" & "explorer" page
    > for generals balises

*/



/* -- General balise -- */
*{
  margin: 0;
  padding: 0;
}

html {
}

body {

  /* Color & shadow */
  background-color: #ECEFF1;

  /* Other */
  overflow-y: scroll;

}

footer {
  /* Position */
  position: fixed;
  bottom: -38px;

  /* Size */
  width: 100%;
  padding-top: 10px;
  height: 40px;

  /* Margin & padding */
  margin-top: 30px;

  /* Color & shadow */
  background-color: #00796B;
  box-shadow: -1px -1px #000;

}


button {
  outline: none;
}

table {
    margin-top: -5px;
    border-collapse: collapse;
}

a {
  text-decoration: none;
}

h2 {

  /* Police */
  color: #00796B;
  font-size: 30px;
  font-family: Calibri;
  font-weight: bold;

}


/* -- Commun style -- */
.topMenu {

  /* Position */
  position: fixed;
  display: block;

  /* Size */
  width: 100%;
  height: 50px;

  /* Color & shadow */
  background-color: #00695C;
  box-shadow: 2px 2px #000;

}

  .homeButton {

    /* Position */
    position: relative;
    display: inline;

    /* Size */
    width: 130px;
    height: 40px;

    /* Margin & padding */
    margin-top: 5px;
    margin-left: 30px;

    /* Color & shadow */
    background-color: inherit;

    /* Border */
    border: none;
    border-radius: 4px;

  }

    .homeButton:hover {

      /* Pointer */
      cursor: pointer;

      /* Color & shadow */
      background-color: #004D40;

    }

  .explorerButton {

    /* Position */
    position: relative;
    display: inline;

    /* Size */
    width: 130px;
    height: 40px;

    /* Margin & padding */
    margin-top: 5px;
    margin-left: 15px;

    /* Color & shadow */
    background-color: inherit;

    /* Border */
    border: none;
    border-radius: 4px;
  }

    .explorerButton:hover {

      /* Pointer */
      cursor: pointer;

      /* Color & shadow */
      background-color: #004D40;
    }

  .textButton {

    /* Position */
    position: absolute;

    /* Margin & padding */
    margin-left: 12px;

    /* Police */
    font-size: 20px;
    font-weight: bold;
    font-family: Calibri;
    color: #FFF;

  }


.content {

  /* Position */
  position: absolute;
  z-index: -1;

  /* Size */
  width: 100%;
  height: auto;

  /* margin & padding */
  margin-top: 50px;

}


.tableFooter {

  /* Size */
  width: 100%;
  height: 100%;

  /* Margin & padding */
  margin-bottom: 5px;

}
  #iconGithub:hover {
    color: #FFF;
  }

  .cellTableFooter {

    /* Aligment */
    text-align: center;
    width: 33%;

  }

  .textTableFooter {

    /* Police */
    font-size: 25px;
    font-weight: bold;
    font-family: Calibri;
    color: #FFF;

    /* Margin & padding */
    margin-left: 15px;
  }
